img {
    margin: 6px auto;
    margin-bottom: 0;
    border-radius: 4px;
}

.kb-club {
    margin: 10px auto;
    margin-bottom: 0;
}

.kb-club a {
    text-decoration: none !important;
    text-decoration: overline;
    color: #212121;
    /* font-weight: bold; */
    padding: .25rem 0;
    font-family: sans-serif;
    transition: .4s;
}

.kb-club a:hover {
    /* background: #BBDEFB; */
    color: gray;
    text-decoration: none!important;
}

span.kb-club-bg {
    border: 2px solid #6CAF50;
    padding: .25rem .5rem;
    margin-left: 0;
    background: #4CAF50;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0 5px 5px 0;
}

span.kb-club-no-bg {
    border: 2px solid #C8E6C9;
    background: #C8E6C9;
    padding: .25rem .5rem;
    margin-right: 0;
    font-size: 14px;
    border-radius: 5px 0 0 5px;
}

.reply a {
    font-size: 30px;
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 250px;
    /* margin: 50px 220px; */
    text-align: center;
    color: var(--primary);
    background: #37383e;
    border-radius: var(--radius);
    padding: 7px 25px;
}

.reply a:hover {
    background: var(--border);
}
