{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">
      {{ .Title }}
      {{- if .Draft }}
      <span class="entry-hint" title="Draft">
        <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
          <path
            d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
        </svg>
      </span>
      {{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}
  <!-- MathJax start -->
  {{- if (.Param "render_math") }}
          <script type="text/javascript" id="MathJax-script" async
                  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
          </script>
          <script type="text/x-mathjax-config">
                  MathJax.Hub.Config({
                  tex2jax: {
                          inlineMath: [['\\(','\\)']],
                          displayMath: [['$$','$$'], ['\[','\]']],
                          processEscapes: true,
                          processEnvironments: true,
                          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
                          TeX: { equationNumbers: { autoNumber: "AMS" },
                                  extensions: ["AMSmath.js", "AMSsymbols.js"] }
                  }
                  });
          </script>
          <script type="text/x-mathjax-config">
                  MathJax.Hub.Queue(function() {
                          // Fix <code> tags after MathJax finishes running. This is a
                          // hack to overcome a shortcoming of Markdown. Discussion at
                          // https://github.com/mojombo/jekyll/issues/199
                          var all = MathJax.Hub.getAllJax(), i;
                          for(i = 0; i < all.length; i += 1) {
                                  all[i].SourceElement().parentNode.className += ' has-jax';
                          }
                  });
          </script>
  {{- end }}
  <!-- MathJax end -->


  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  {{- if not (.Param "disableReply") }}
  <span class="reply"><a href="mailto:blog.chive009@passinbox.com?Subject=Re: {{ .Title }}">Reply by Email</span>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
