<details>
  <summary>{{ (.Get "desc") | markdownify }}</summary>
  {{ $filePath := .Get "path" }}
  {{ $lang := .Get "lang" }}
  {{ $fileContent := readFile $filePath | safeHTML }}
  <p>{{ (.Get "expl") | markdownify }}</p>
  {{ highlight $fileContent $lang "" }}
</details>


